.expense-item{
    display: flex;
    background-color: slategrey;
    margin-bottom:.5rem;
    height:6rem;
    border: 2px solid white;
    position: relative;
    padding: 3px;
}
.expense-title{
    position: absolute;
    top:30%;
    left: 50%;
    color: aliceblue;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}
.expense-price{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top:25%;
    background-color:darkslategrey;
    color:white;
    height: 2rem;
    border:1px solid white;
    border-radius: 10px;
    font-size: medium;
    padding:6px 12px
}
